.about-bg {
  background-size: cover;              
  background-repeat: no-repeat;
  background-position: center 35%;  
  width: 100%;
  padding: 120px 0; /* 🔽 Reduced */
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-bg .text {
  color: rgb(0, 0, 0);
  font-size: 42px;
  font-weight: 700;
  text-shadow: 0px 2px 6px rgba(255, 255, 255, 0.6);
  z-index: 1;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}

.about-breadcrumb {
  background-color: #f5f5f5;
  padding: 15px 0;
  font-size: 16px;
}

.about-breadcrumb .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about-breadcrumb .text a {
  color: #2c2b2b;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

.about-breadcrumb .text a:hover {
  color: #ffb300; 
}

.about-breadcrumb .text i {
  margin: 0 10px;
  color: #999;
}

.about-section {
  padding: 80px 0;
  background-color: #fff;
  padding-left: 4%;
}

.about-section .row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.about-section .col {
  flex: 1;
  min-width: 300px;
}

.img-col img {
  width: 100%;
  border-radius: 8px;
}

.text-col h2 {
  font-size: 32px;
  margin-bottom: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 20px;
}

.text-col p {
  font-size: 16px;
  line-height: 1.5;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 20px;
}

.full-text {
 margin-top: 20px;
 font-family:Georgia, 'Times New Roman', Times, serif;
}

.full-text p {
  margin-bottom: 15px;
  font-size: 15px;
  color: #444;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.underline3{
  width: 60px;
  height: 5px;
  background-color: #ffb600;
  margin-left: 20px;
}

