/* ============ IFRS Theme ============ */

/* Service Details */
.ifrs-details {
  padding: 60px 0;
  background-color: #fff;
}

.ifrs-details .ifrs-col {
  width: 100%;
}

.ifrs-sidebar-details {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.ifrs-content-style-one {
  margin-bottom: 30px;
}

.ifrs-content-style-one .ifrs-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #22345f;
  border-left: 5px solid #ffaa00;
  padding-left: 10px;
}

.ifrs-content-style-one .ifrs-text {
  margin-top: 200px; /* You can adjust the value */
}

.ifrs-content-style-one .ifrs-text p {
  font-size: 16px;
  color: #444;
  line-height: 2.7;
  margin-bottom: 15px;
}

.ifrs-content-style-two {
  margin: 30px 0;
}

.ifrs-content-style-two h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f6b129;
}

.ifrs-content-style-two .ifrs-list {
  padding-left: 20px;
}

.ifrs-content-style-two .ifrs-list li {
  margin-bottom: 8px;
  position: relative;
  padding-left: 20px;
  color: #444;
}

.ifrs-content-style-two .ifrs-list li::before {
  content: "❯";
  color: #f6b129;
  position: absolute;
  left: 0;
  font-size: 14px;
}

.ifrs-content-style-two .ifrs-col .ifrs-text p{
  margin-top: 25px;
}

/* Utility */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
