
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;       
  padding-top: 30px;
  margin: 0;
  overscroll-behavior: none;
  touch-action: manipulation; 
}
